<h1>Select friends to add to a circle</h1>

<form action="<%= circles_url %>" method="post">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>Name
    <input type="text" name="circle[name]" >
  </label>

  <br>

  <% @users.each do |user| %>
   <input
     type="checkbox"
     name="circle[member_ids][]"
     value="<%= user.id %>"
     id="circle_<%= user.id %>"
      >
     <%= user.email %><br />
 <% end %>

  <input type="submit">

</form>